<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paaril.app.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.paaril.app.ui.activity.SplashActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paaril.app.ui.activity.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.paaril.app.ui.activity.CheckoutActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.paaril.app.ui.activity.SubscriptionsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.paaril.app.ui.activity.RazorPayPaymentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.paaril.app.ui.activity.RazorPayOrderPaymentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name="com.paaril.app.sms.SMSListener"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


    </application>
</manifest>